<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @task.Name %>
</p>

<p>
  <strong>Course:</strong>
  <%= @task.Course %>
</p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
